<div class="d-flex align-items-start">

  <a routerLink="/tasks" class="btn btn-warning">Back</a>
</div>

<div align="center">
  <h4>Theses</h4>
  <br />

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Summary</th>
        <th>Pdf Text</th>
        <th>Chief Editor's comments</th>
        <th>Reviewer's comments</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let thesis of theses">
        <td>{{thesis.title}}</td>
        <td>{{thesis.summary}}</td>
        <td>{{thesis.pdfText}}</td>
        <td>{{thesis.chiefEditorsComment}}</td>
        <td><button (click)="reviewerComments(thesis.id)" class="btn btn-info"> View Comments </button></td>

      </tr>
    </tbody>
  </table>
</div>