<form #f="ngForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
  <p class="h4 mb-4">Registration</p>
  
  <div class="d-flex justify-content-center">
    <input type="text" name="firstName" [(ngModel)]="model.firstName" placeholder="First Name" class="form-control mb-4 w-50">
  </div>

  <div class="d-flex justify-content-center">
    <input type="text" name="lastName" [(ngModel)]="model.lastName" placeholder="Last Name" class="form-control mb-4 w-50">
  </div>

  <div class="d-flex justify-content-center">
    <input type="text" name="title" [(ngModel)]="model.title" placeholder="Title" class="form-control mb-4 w-50">
  </div>

  <div class="d-flex justify-content-center">
    <input type="text" name="city" [(ngModel)]="model.city" placeholder="City" class="form-control mb-4 w-50">
  </div>

  <div class="d-flex justify-content-center">
    <input type="text" name="country" [(ngModel)]="model.country" placeholder="Country" class="form-control mb-4 w-50">
  </div>

  <div class="d-flex justify-content-center">
    <input type="text" name="eMail" [(ngModel)]="model.eMail" placeholder="EMail" class="form-control mb-4 w-50">
  </div>

  <div class="d-flex justify-content-center">
    <input type="text" name="username" [(ngModel)]="model.username" placeholder="Username" class="form-control mb-4 w-50">
  </div>
  <div class="d-flex justify-content-center">

    <input type="password" name="password" [(ngModel)]="model.password" placeholder="Password" class="form-control mb-4 w-50">
  </div>

  <br/>

  <button class="btn btn-info" type="submit">Register</button>

</form>